.nav{
    background-color: #4BBC9C;
    width:100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width:50%;

}
.nav-body-items{
    display: flex;

}
a{
    text-decoration: none;
    color: whitesmoke;
}